DirectoryIndex index.php
RewriteEngine On
AddDefaultCharset CP1251
php_flag display_errors off

DirectoryIndex index.php
RewriteEngine On

# Основной домен
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Главная
RewriteRule ^index.html$ index.php [L]

# Правила
RewriteRule ^rules(/?)+$ index.php?menu=rules [L]

# Контакты
RewriteRule ^contacts(/?)+$ index.php?menu=contacts [L]

# Новости
RewriteRule ^news(/?)+$ index.php?menu=news [L]

# TOP
RewriteRule ^top(/?)+$ index.php?menu=top [L]

# О нас
RewriteRule ^about(/?)+$ index.php?menu=about [L]

# Регистрация
RewriteRule ^signup/key/(.*)(/?)+$ index.php?menu=signup&key=$1 [L]
RewriteRule ^signup(/?)+$ index.php?menu=signup [L]

# Восстановление пароля
RewriteRule ^recovery(/?)+$ index.php?menu=recovery [L]

# Последние выплаты
RewriteRule ^payments(/?)+$ index.php?menu=payments [L]



# Пользователи
RewriteRule ^users/([0-9]+)(/?)+$ index.php?menu=users&page=$1 [L]
RewriteRule ^users(/?)+$ index.php?menu=users [L]

# Чат
RewriteRule ^chat(/?)+$ index.php?menu=chat [L]

# Видео
RewriteRule ^video(/?)+$ index.php?menu=video [L]

# Аккаунт
RewriteRule ^account/payment2/([0-9]+)(/?)+$ index.php?menu=account&sel=payment2 [L]
RewriteRule ^account/payment/([0-9]+)(/?)+$ index.php?menu=account&sel=payment&pay_id=$1 [L]
RewriteRule ^account/pay_points(/?)+$ index.php?menu=account&sel=pay_points [L]
RewriteRule ^account/payment(/?)+$ index.php?menu=account&sel=payment [L]
RewriteRule ^account/paymentwmp(/?)+$ index.php?menu=account&sel=payment&wm [L]
RewriteRule ^account/paymentwm(/?)+$ index.php?menu=account&sel=paymentwm [L]
RewriteRule ^account/paymentya(/?)+$ index.php?menu=account&sel=payment&ya [L]
RewriteRule ^account/payment_payeer(/?)+$ index.php?menu=account&sel=payment_payeer [L]
RewriteRule ^account/payment_pm(/?)+$ index.php?menu=account&sel=payment_pm [L]
RewriteRule ^account/payment_yandex(/?)+$ index.php?menu=account&sel=payment_yandex [L]
RewriteRule ^account/payment_qiwi(/?)+$ index.php?menu=account&sel=payment_qiwi [L]
RewriteRule ^account/lottery/winners(/?)+$ index.php?menu=account&sel=lottery&winners [L]
RewriteRule ^account/lottery(/?)+$ index.php?menu=account&sel=lottery [L]
RewriteRule ^account/biglot(/?)+$ index.php?menu=account&sel=biglot [L]
RewriteRule ^account/knb(/?)+$ index.php?menu=account&sel=knb [L]
RewriteRule ^account/reklam(/?)+$ index.php?menu=account&sel=reklam [L]
RewriteRule ^account/otv(/?)+$ index.php?menu=account&sel=otv [L]
RewriteRule ^admin/biglot(/?)+$ index.php?menu=admin4ik&sel=biglot [L]
RewriteRule ^admin/chat(/?)+$ index.php?menu=admin4ik&sel=chat [L]
RewriteRule ^admin/otv(/?)+$ index.php?menu=admin4ik&sel=otv [L]
RewriteRule ^admin/knb(/?)+$ index.php?menu=admin4ik&sel=knb [L]
RewriteRule ^admin/control(/?)+$ index.php?menu=admin4ik&sel=control [L]
RewriteRule ^admin/bes(/?)+$ index.php?menu=admin4ik&sel=bes [L]
RewriteRule ^admin/tik(/?)+$ index.php?menu=admin4ik&sel=tik [L]
RewriteRule ^admin/video(/?)+$ index.php?menu=admin4ik&sel=video [L]
RewriteRule ^admin/pay_systems(/?)+$ index.php?menu=admin4ik&sel=pay_systems [L]
RewriteRule ^account/back(/?)+$ index.php?menu=account&sel=back [L]
RewriteRule ^account/bonus(/?)+$ index.php?menu=account&sel=bonus [L]
RewriteRule ^account/set(/?)+$ index.php?menu=account&sel=set [L]
RewriteRule ^account/chat(/?)+$ index.php?menu=account&sel=chat [L]
RewriteRule ^account/video(/?)+$ index.php?menu=account&sel=video [L]
RewriteRule ^account/bes2(/?)+$ index.php?menu=account&sel=bes2 [L]
RewriteRule ^account/bes(/?)+$ index.php?menu=account&sel=bes [L]
RewriteRule ^account/set(/?)+$ index.php?menu=account&sel=set [L]
RewriteRule ^account/config(/?)+$ index.php?menu=account&sel=config [L]
RewriteRule ^account/auc(/?)+$ index.php?menu=account&sel=auc [L]
RewriteRule ^account/insert(/?)+$ index.php?menu=account&sel=insert [L]
RewriteRule ^account/payment/([0-9]+)(/?)+$ index.php?menu=account&sel=payment&pay_id=$1 [L]
RewriteRule ^account/payment(/?)+$ index.php?menu=account&sel=payment [L]
RewriteRule ^account/market(/?)+$ index.php?menu=account&sel=market [L]
RewriteRule ^account/swap(/?)+$ index.php?menu=account&sel=swap [L]
RewriteRule ^account/store(/?)+$ index.php?menu=account&sel=store [L]
RewriteRule ^account/referals(/?)+$ index.php?menu=account&sel=referals [L]
RewriteRule ^account/referals2(/?)+$ index.php?menu=account&sel=referals2 [L]
RewriteRule ^account/farm(/?)+$ index.php?menu=account&sel=farm [L]
RewriteRule ^competition(/?)+$ index.php?menu=competition [L]
RewriteRule ^competition/list(/?)+$ index.php?menu=competition&list [L]
RewriteRule ^account/exit(/?)+$ index.php?menu=account&sel=exit [L]
RewriteRule ^account(/?)+$ index.php?menu=account [L]
#Колесо фортуны
RewriteRule ^account/wheel(/?)+$ index.php?menu=account&sel=wheel [L]
RewriteRule ^account/add_bil(/?)+$ index.php?menu=account&sel=add_bil [L]